@model Redis02TestIncrease.Models.InformModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>喜迎奥运会</h1>
        点击量：@Model.ClickCount
        <div>
            aaaaaaaaaaaaaaaaaaaa
        </div>
    </div>
</body>
</html>
